[Unit]
Description=Service that logs the current temprature
#Documentation=
After=network-online.target

[Service]
User=logger
ExecStart=/usr/local/bin/temp-logger.sh

[Install]
WantedBy=multi-user.target
