[Unit]
Description=ngrok client
After=network.target

[Service]
ExecStart=/home/irl/ngrok start --all --config /home/irl/.ngrok2/ngrok.yml
Restart=on-abort

[Install]
WantedBy=multi-user.target
